body {

  background-image: url("yellow-sandy-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

form {
  background-image: url("paper-form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: auto;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border: 2px, solid, grey;
  padding-top: 25px;
  padding-left: 160px;
  margin-bottom: 16px;

}


.form-group label {
  margin-bottom: 40px;
  margin-left: 20px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.addTaskButton button {
  margin-left: 50px;
  margin-bottom: 10px;
}

.form-group input {
  margin-bottom: 40px;
  margin-left: 30px;
}

h1 {
  font-size: 3rem;
  padding: 5px;
  margin-bottom: 1cap;
  margin-top: 1cap;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.taskContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  height: 200px;
  background-color: yellow;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  left: 50px;
  opacity: 1;
  transition: 5s ease-in-out;
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.card i.deleteBtnPointer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card p.card-date {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.card p.card-time {
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.card p.card-date {
  position: absolute;
  left: 10px;
  bottom: 0;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;

}